// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 17px; // Body Font Size
$textcolor: #14274A; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$fweight: 400;
$montserrat: montserrat, sans-serif; // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss'; // Bootstrap Reboot collection
// @import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss'; // Bootstrap Breakpoints mixin
@import '../libs/css-hamburgers/hamburgers.css';
@import '../libs/slick/slick.scss';
@import '../libs/slick/slick-theme.scss';
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
	@font-face {
		font-family: $fname;
		font-style: $fstyle;
		font-weight: $fweight;
		// font-display: swap; // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2');
	}
}

@include font('Montserrat', normal, 400, '../fonts/Montserrat-Regular (1).woff2');
@include font('Montserrat', normal, 700, '../fonts/Montserrat-Bold (1).woff2');
@include font('AGaramondPro', normal, 700, '../fonts/AGaramondPro-Bold.woff');
@include font('Slick', normal, 400, '../fonts/slick.woff');
@include font('Slick', normal, 400, '../fonts/slick.ttf');

// GENERAL DOCUMENT STYLES

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

input, textarea {
	outline: none;
	&:focus:required:invalid { border-color: red }
	&:required:valid { border-color: green }
}
.container {
	max-width: 1170px;
	padding: 0 15px;
	margin: 0 auto;
	height: 100%;
  display: flex;
  flex-direction: column;
}

.button {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	padding: 15px 20px;
	background-color: #E0B973;
	border-radius: 8px;
	cursor: pointer;
	border: none;
	&:hover {
		background-color: #deb214;
		text-decoration: none;
		color: #fff;
		cursor: pointer;
	}
}

img {
	max-width: 100%;
}

a {
	color: #fff;
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

ul {
	margin: 0;
	padding: 0;
}

body {
	font-family: $montserrat;
	font-size: $fontsize;
	font-weight: $fweight;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	overflow-x: hidden;
	color: $textcolor;
}

.title {
	font-size: 45px;
	font-family: AGaramondPro,sans-serif;
}

