@media (max-width : 1250px) {

}

@media (max-width : 992px) {
	.header {
		&__content {
			width: 100%;
			text-align: center;
		}
		&__title-luxury {
			font-size: 65px;
		}
	}
}


@media (max-width : 860px) {
	.header {
		.menu__list {
			&-item + .menu__list-item{
				margin-left: 50px;
			}	
		}
	}
}
@media (max-width : 768px) {
	
}


@media (max-width : 650px) {
	.header {
		&__top {
			.hamburger {
				display: block;
				position: absolute;
				right: 0;
				top: 10px;
				color: #fff;
				z-index: 3;
				&-inner {
					background-color: #fff;
					&::after, 
					&::before {
						background-color: #fff;
					}
				}
				&.is-active { 
					.hamburger-inner {
						background-color: transparent;
					}
				}
			}
			.menu__list {
				position: fixed;
				top: -100%;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(20, 39, 74, 0.9);
				overflow: auto;
				padding: 70px 10px 20px 10px;
				transition: all 0.5s ease;
				&-item + .menu__list-item {
					margin-left: 0px;
				}
				&--active {
					top: 0;
					display: flex;
    			flex-direction: column;
    			justify-content: space-around;
    			align-items: center;
    			font-size: 30px;
				}
			}
		}
		&__title-luxury {
			font-size: 50px;
		}
		&__title-welcome {
			font-size: 25px;
		}
		&__title-hotels {
			font-size: 30px;
		}
	}
}


@media (max-width : 480px) {
	
}
